greenButtonAndMeteo/src/main/webapp/resources/xsd/greenButtonToCsvConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_Uom">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LTR"/>
			<xs:enumeration value="MCU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TimeAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="15"/>
			<xs:enumeration value="1d"/>
			<xs:enumeration value="1h"/>
			<xs:enumeration value="1m"/>
			<xs:enumeration value="1w"/>
			<xs:enumeration value="ir"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Commodity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELE"/>
			<xs:enumeration value="GAS"/>
			<xs:enumeration value="STM"/>
			<xs:enumeration value="THE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_AccumulationBehaviour">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="UsagePoints">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UsagePoint"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UsagePoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdRetailCustomer"/>
				<xs:element ref="IdUsagePoint"/>
				<xs:element ref="IdMeterReading"/>
				<xs:element ref="UrlFileCsv"/>
				<xs:element ref="UrlDataCustodian"/>
				<xs:element ref="UrlSOS"/>
				<xs:element ref="IdentifierObservation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UrlSOS">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://20.39.146.59:8080/SOS40/sos/soap"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UrlFileCsv">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="/home/SUNSHINE/csv/ferrara/"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UrlDataCustodian" type="xs:anyURI"/>
	<xs:element name="Uom">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Uom">
					<xs:attribute name="id" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="134"/>
								<xs:enumeration value="42"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeAttribute">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_TimeAttribute">
					<xs:attribute name="id" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="0"/>
								<xs:enumeration value="11"/>
								<xs:enumeration value="13"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="24"/>
								<xs:enumeration value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SecondScheduling">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MinuteScheduling">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdentifierObservation">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://www.sunshineproject.eu/swe/observation/"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdUsagePoint">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdRetailCustomer">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdMeterReading">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HourScheduling">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CountUsagePoints">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HourScheduling"/>
				<xs:element ref="MinuteScheduling"/>
				<xs:element ref="SecondScheduling"/>
				<xs:element ref="Active"/>
				<xs:element ref="CountUsagePoints"/>
				<xs:element ref="Commodity" maxOccurs="unbounded"/>
				<xs:element ref="AccumulationBehaviour" maxOccurs="unbounded"/>
				<xs:element ref="Uom" maxOccurs="unbounded"/>
				<xs:element ref="TimeAttribute" maxOccurs="unbounded"/>
				<xs:element ref="UsagePoints"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Commodity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Commodity">
					<xs:attribute name="id" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
								<xs:enumeration value="10"/>
								<xs:enumeration value="12"/>
								<xs:enumeration value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Active">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumulationBehaviour">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_AccumulationBehaviour">
					<xs:attribute name="id" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
