greenButtonAndMeteo/src/main/webapp/resources/xsd/ImportMeteoDataConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by A2RB0069 (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WfsUser">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="graphitech"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WfsUrlMeteo" type="xs:anyURI"/>
	<xs:element name="WfsPassword">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="21_trent0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UrlSOS">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://20.39.146.59:8080/SOS40/sos/soap"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnitCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CEL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Unit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="°C"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TypeNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TypeName" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TypeName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Unit"/>
				<xs:element ref="UnitCode"/>
				<xs:element ref="ObservedProperty"/>
				<xs:element ref="Frequency"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="temperature_s"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SecondScheduling">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Procedures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Procedure" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Procedure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Prefix_OfferingIdentifier"/>
				<xs:element ref="CodeSpaceIdentifier"/>
				<xs:element ref="ObservationTypeIdentifier"/>
				<xs:element ref="Prefix_ObservationIdentifier"/>
				<xs:element ref="Prefix_Identifier"/>
				<xs:element ref="Prefix_ObservedPropertyIdentifier"/>
				<xs:element ref="FeatureOfInterestIdentifier"/>
				<xs:element ref="UrlSOS"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FER-F01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Prefix_OfferingIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://www.sunshineproject.eu/swe/offering/"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Prefix_ObservedPropertyIdentifier" type="xs:anyURI"/>
	<xs:element name="Prefix_ObservationIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://www.sunshineproject.eu/swe/observation/"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Prefix_Identifier">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://www.sunshineproject.eu/swe/procedure/"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObservedProperty">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TEMP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObservationTypeIdentifier" type="xs:anyURI"/>
	<xs:element name="MinuteScheduling">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HourScheduling">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Frequency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1h"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FeatureOfInterestIdentifier" type="xs:anyURI"/>
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HourScheduling"/>
				<xs:element ref="MinuteScheduling"/>
				<xs:element ref="SecondScheduling"/>
				<xs:element ref="Active"/>
				<xs:element ref="TypeNames"/>
				<xs:element ref="WfsUrlMeteo"/>
				<xs:element ref="WfsUser"/>
				<xs:element ref="WfsPassword"/>
				<xs:element ref="Procedures"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodeSpaceIdentifier" type="xs:anyURI"/>
	<xs:element name="Active">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
